/* Set Css rules for Main Wrapper for TermPolicyOnlyViewContent component */
#TermPolicyOnlyViewContent-Wrapper
{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.652);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    place-items: center;
    z-index: 2;
    overflow-y: scroll;
}

/* Set Css rules for Main Content Div for TermPolicyOnlyViewContent component */
#TermPolicyOnlyViewContent-MainContent-container
{
    display: flex;
    flex-direction: column;
    place-items: center;
    background: #ffff;
    margin: 45px 6rem;
    position: relative;
}



/* ================== Set Css rules for Main Image section in the Content  ================== */

/* Set Css rules for the Image`s main div for TermPolicyOnlyViewContent component */
#TermPolicyOnlyViewContent-Picture-Container
{
    width: 100%;
}

/* Set Css rules for the Image for TermPolicyOnlyViewContent component */
#TermPolicyOnlyViewContent-Picture-Container > img
{
    width: 100%;
    height: 100%;
}

/* ================== Set Css rules for Main Image section in the Content  ================== */




/* Set Css rules for Main Content Container */
#TermPolicyOnlyViewContent-Content-Container
{
    display: flex;
    flex-direction: column;
    padding: 3rem 11rem;  /* !important Change these values for smaller screen size */
    gap: 3rem;
}

/* Set Css rules for H3 element as 'iHealth and Wellness Foundation, Inc.' */
#TermPolicyOnlyViewContent-Content-Container > h3
{
    color: #07235B;
    text-align: center;
    font-family: Roboto;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

#TermPolicyOnlyViewContent-Content-Container > h3:nth-last-child(-n+4)
{
    text-align: left;
}


/* Set Css rules for H2 element as 'Terms of Service' */
#TermPolicyOnlyViewContent-Content-Container > h2
{
    color:  #07235B;
    text-align: center;
    font-family: Roboto;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

#TermPolicyOnlyViewContent-Content-Container > p
{
    color:  #07235B;
    text-align: justify;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
}





/* ================== Set Css rules for HTML UL items in the Content  ================== */
#TermPolicyOnlyViewContent-Content-Container > ul
{
    padding-left: 2.5rem;
    
}

#TermPolicyOnlyViewContent-Content-Container > ul > li
{
    color:  #07235B;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    margin:0 0 3rem 0;
}

#TermPolicyOnlyViewContent-Content-Container > ul > li > span
{
    font-weight: 600;
}
/* ================== Set Css rules for HTML UL items in the Content  ================== */





/* ================== Set Css rules for double sided content ================== */

#TermsofService-main-doublesided
{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


/* Set Css rules for Left side */


#TermsofService-main-doublesided-left > *
{
    margin:0 0 2rem 0;
}

#TermsofService-main-doublesided-left > h3
{
    color:#07235B;
    font-family: Roboto;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

#TermsofService-main-doublesided-left > p
{
    color: #07235B;
    text-align: justify;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
}


/* Set Css rules for Right side */



#TermsofService-main-doublesided-right > *
{
    margin:0 0 2rem 0;
}

#TermsofService-main-doublesided-right > h3
{
    color:#07235B;
    font-family: Roboto;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

#TermsofService-main-doublesided-right > p
{
    color: #07235B;
    text-align: justify;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
}


/* ================== Set Css rules for double sided content ================== */


#TermPolicyOnlyViewContent-MainContent-container-close-X
{
    position: absolute;
    all: unset;
    position: absolute;
    top: 22px;
    right: 25px;
    transform: scaleX(1.3);
    font-size: 1.3rem;
    color: aliceblue;
    background: transparent;
    font-family: system-ui;
    border: 1px white solid;
    border-radius: 50%;
    width: 20px;
    height: 28px;
    display: flex;
    place-content: center;
    box-shadow: 0 0px 9px 1px white;
    cursor: pointer;
    filter: brightness(0.7);
    transition: 0.6s;

}

#TermPolicyOnlyViewContent-MainContent-container-close-X:hover
{
    filter: brightness(1);
}

#TermPolicyOnlyViewContent-MainContent-container-close-button
{
    all: unset;
    position: absolute;
    bottom: 17px;
    right: 17px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.6s;
}

#TermPolicyOnlyViewContent-MainContent-container-close-button:hover
{
    text-decoration: underline;
    text-shadow: 0px 0px 1px black;
}




.LearnMoreSpan
{
    font-weight: 600;
    color: #07235B;
    text-align: justify;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 143%;
    user-select: none;
    cursor: pointer;
}


#TermPolicyOnlyViewContent-Content-Container > * i
{
    all: unset;
    display:none;
}


#TermPolicyOnlyViewContent-Content-Container > * input[type="checkbox"]
{
    display: none;
}

input[type="checkbox"]:checked + label > span
{
    display: none;
}


i:has(~ input[type="checkbox"]:checked)
{
    display: inline !important;
}