/* Set Css rules for first part of Login pop-up section`s top Image/welcome text container*/
#Login-Upside-Top
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transform: translateY(28px);
}

#Login-Upside-Top > img
{

}

#Login-Upside-Top > h2
{
    color:  #07235B;
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 110%;
}

#Login-Upside-Top > div
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#Login-Upside-Top > div > p
{
    color: #07235B;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 110%;
    position: relative;
}

#Login-Upside-Top > div > p::after
{
    content: '';
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: #07235B;
    width: 43px;
    height: 1px;
     
}


#Login-Upside-Top > div > a
{
    color: #A6A6A6;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 110%;
    text-decoration: none;
}